/* This is a style sheet I made */
#h1{
		font-family: Helvetica;
		color: Gray;
		background-color: white;
		padding: 20px 30px 20px 0px;
	}
	#body{
		background-color:#C0CCCC;
		color:Black;
		font-family: Helvetica;	
	}
	#dropdown{
		margin:0;
		padding:0;
		font-family: Helvetica;
		
	}
	#dropdown ul{
		margin:0;
		padding:0;
		line-height: 30px;
		text-align:center;
		
	}
	#dropdown li{
		background-color:white;
		margin:0;
		padding:0;
		list-style: none;
		float: left;
		position:relative;
	}
	#dropdown ul li a{
		text-decoration: none;
		height: 30px;
		width: 150px;
		color:gray;
		display:block;
	}
	#dropdown ul li:hover {
		background-color:gray;
	}
	#dropdown ul li:hover>a{
		background-color: gray;
		color:white;
	}
	#dropdown ul li a:hover{		
		background-color: gray;
		color:white;
	}
	#dropdown ul ul{
		position:absolute;
		visibility: hidden;
	}
	#dropdown ul li:hover ul{
		visibility: visible;
	}
	#dropdown ul ul ul li{
		visibility:hidden;
		left: 150px;
		bottom:30px;	
	}
	#dropdown ul li ul li:hover ul li{
		visibility:visible;	
	}
	
	#dropdown ul li ul li ul li a:hover{
		background-color:white;
		color:gray;
	}
	#footer{
		text-align: center;
		font-family: Helvetica;
		padding-top: 300px;
	}
	#wrap{
		width:450px;
		height:30px;
		margin-left: auto;	
		margin-right:auto;
	}
	#p1{
		padding:30px;
		margin:30px;
		background-color:white;
		
		
	}
	#p1 a{
		
		color:orange;
	}
	#img {
		padding:10px;
		border-color:gray;
	}
	#form{
		width:1400px;
		height:1000px;
		margin-left: auto;	
		margin-right:auto;
		background-color:white;
	}
