/* This is a style sheet I made */
#h1{
		font-family: Helvetica;
		color: white;
		background-color: navy;
		padding: 20px 30px 20px 0px;
	}
	#body{
		background-color:gray;
		color:white;
		font-family: Helvetica;	
	}
	#dropdown{
		margin:0;
		padding:0;
		font-family: Helvetica;
		
	}
	#dropdown ul{
		margin:0;
		padding:0;
		line-height: 30px;
		text-align:center;
		
	}
	#dropdown li{
		background-color:navy;
		margin:0;
		padding:0;
		list-style: none;
		float: left;
		position:relative;
	}
	#dropdown ul li a{
		text-decoration: none;
		height: 30px;
		width: 150px;
		color:white;
		display:block;
	}
	#dropdown ul li:hover a{
		background-color:blue;
	}
	#dropdown ul li:hover>a{		
		background-color: orange;
		color:black;
	}
	#dropdown ul ul{
		position:absolute;
		visibility: hidden;
	}
	#dropdown ul li:hover ul{
		visibility: visible;
	}
	#dropdown ul ul ul li{
		visibility:hidden;
		left: 150px;
		bottom:30px;	
	}
	#dropdown ul li ul li:hover ul li{
		visibility:visible;	
	}
	
	#dropdown ul li ul li ul li a:hover{
		background-color:orange;
		color:black;
	}
	#footer{
		text-align: center;
		font-family: Helvetica;
		padding-top: 300px;
	}
	#wrap{
		width:450px;
		height:30px;
		margin-left: auto;	
		margin-right:auto;
		background-color:navy;	
	}
	#p1{
		padding:30px;
		margin:30px;
		background-color: navy;
		
	}
	#p1 a{
		
		color:orange;
	}

