#body{
	padding:0;
	background-image: none;
}
#wrap{
	margin-left:0;
	margin-right:0;
	width:100%;
	min-width:0;
}
#header{
	text-align:left;
	background-image:url(0103pictures/javalogo.gif);
	background-position:center;
	background-repeat:no-repeat;
	height:80px;
}
h1{
	text-indent:-99999px;
	margin:0;
}
#nav{
	float:left;
	width:100%;
	padding-top:0;
	margin-top: 0;
}
#nav ul li a{
	display:block;
	padding:0.2em;-moz-binding: 
	font-size: 1.3em;
	font-weight:bold;
	border: 1px;
	border-color:#330000;
}
#nav ul li{
	padding:0;
	margin:0;	
}
#content{
	padding:0.5em;
	margin:0;
}
h2{
	padding: .5em 0 0 0.5em;
	margin:0.5em;
}
#details{
	padding-left:0;
	padding-right:0;
}
#rightcolumn{
	display: none;
}
#leftcolumn{
	float:left;
	padding-right:0.5em;
}
#footer{
	padding-top:0;
	padding-bottom:0;
}
#mobile{
	display:inline;
}
#desktop{
	display:none;
}
