
		<nav class="navbar navbar-default" role="navigation">
		  	<div class="container">
		    	<div class="navbar-header">
		      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
		      		</button>
		      		<a class="navbar-brand" href="../Controllers/home.php">Tina's Pizza</a>
		    	</div>
		    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
			        	<li><a href="../Controllers/home.php">Home</a></li>
			        	<li><a href="../Controllers/menu.php">Menu</a></li>
			        </ul>
					<ul class="nav navbar-nav navbar-right">
		        		<li class="dropdown">
		          			<a href="#" class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
		          			<ul class="dropdown-menu" role="menu">
		            			<li><a href="../Controllers/menu.php">Menu</a></li>
		            			<li><a href="../Controllers/about_us.php">About Us</a></li>
		            			<li><a href="../Controllers/location.php">Location</a></li>
		            			<li><a href="../Controllers/reviews.php">Reviews</a></li>
		          			</ul>
		        		</li>
		      		</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
