#center{
	margin-left:auto;
	margin-right:auto;
	width:90%;
	text-align:center;
}
#img{
	float:left;
	padding-bottom: 30px;
}

#background{
	background-color:#F8F8F8;
}
#twitter-widget-0{
	float:auto;
 	width: 100% !important;  
 	height: 500px !important;
}
