#nav{
	float:left;
	text-align:center;
	color:#330000;
	width:100px;
	padding-top: 10px;
}
#nav ul li a{	
	padding-bottom:15px;
	text-decoration: none;
}
#nav ul li a:link{
	color:#996633;
}
#nav ul{
	list-style-type:none;
}
#nav ul a{
		text-decoration: none;
		color:#996633;
}
#nav ul li a:hover{
		text-decoration: none;
		color:#330000;
}
#nav  ul li a:visited{
	color:#CCAA66;
}
#nav ul li a:unvisited{
	color:#996633;
}
#nav  ul li a:visited:hover{
	color:#330000;
}



#h2{
	background-color: #FFFFCC;
	color:#663300;
	font-size: 1.2em;
	border-bottom: 1px solid #000000;
	padding: 5px 0 0 5px;
	margin-right:20px;
	clear:left;
}
#body{
	background-image:url(0103pictures/background.gif);
	background-repeat:repeat;
	font-family:Arial;	
	width:850px;
	margin-left:auto;
	margin-right:auto;
	color:#330000;
}
#footer{
	size: small;
	text-align:center;
	width:900px;
	padding: 10px 0px 10px 0px;
	background-color:#CCAA66;
	box-shadow: 5px 5px 5px #888888;
}
#footer a{
	color:#F2EAB7;
}
#head{
	text-align:center;
}
#content{
	padding:20px;
}
#wrap{
	background-color:#ffffcc;
	width:900px;
	box-shadow: 5px 6px 5px #888888;
}
#wrapper { 
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#leftcolumn { 
	float: left;
    width: 100px;
    text-align:center;
    padding: 10px 0px 10px 0px;
}
#rightcolumn { 
	margin-left: 155px;
	padding: 10px 20px 80px 20px;
	margin-left:150px;
	background-color: #F2EAB7;
	color:#000000;
}

#details{
	padding-right:20%;
	padding-left:20%;
	border: none;
}
#header{
	background-color:#ccaa66;
	color:#000000;
	text-align:center;
	margin:0;
}
#img{
	float:right;
	padding-left: 20px;
}
#Greg{
	float:left;
	padding-left:100px;	
	padding-right:20px;
	padding-bottom:20px;
}
#Mel{
	float:left;
	padding-left:100px;
	padding-right:20px;
	padding-bottom:20px;
}
